html {
  font-family: 'Oxygen', sans-serif;
  line-height: 1.2;
  font-size: 16px;

}

.mobile {
  display: none;
}

/* Header */

.header-container {
  height: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.logo {
  font-size: 1.5rem;
  color: #307af2;
  padding: 2rem;
  height: 2rem;
  display: inline-flex;
  text-align: left;
}

.logo img {
  height: 4rem;
}
.logo h1 {
  font-size: 2rem;
  padding-top: 10px;
}

.logo h1 span{
  color: black;
}

.nav-links {
    flex-grow: 1;
}

.nav-links a {
  color: #307af2;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-links ul a:hover {
  color: #1f4f9e;
}

.nav-links ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-links li {
  padding-right: 1rem;
  padding-top: 2.5rem;
}

/* Learn section */

.learn-container {
  display: flex;
}

.banner {
  margin-top: 4rem;
  background-color: #e1e2f7;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-basis: auto;
}

.banner-left {
  width: 60%;
  height: auto;
  padding: 32px 24px 32px 24px;
}

.banner-left img {
  width: 100%;
}

.banner-right  {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.right-text h1 {
  font-family: Oxygen, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #307af2;
  padding-bottom: 20px;
}

.right-text h3 {
  font-family: Oxygen, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: black;
}
.right-text .button {
  background-color:  #307af2;
  text-align: center;
  padding: 0.8rem 5rem;
  border-radius: 8px;
  font-size: 1.4rem;
  width: 35%;
}

.right-text .button a {
  color: white;
}
.right-text .button a:hover {
  color: #1f4f9e;
}

/* Info Section */

.info-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-basis: auto;
}

.info-section .info-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
}
.info-section .info-left img {
  object-fit: contain;
  align-self: flex-start;
  max-width: 100%;
  max-height: 100%;
}
.info-section .info-text h1, p, h6 {
  padding-bottom: 2rem;
}

.info-section h1 {
  font-size: 2.5rem;
  color: #307af2;
}

.info-section p {
  font-size: 1.2rem;
}
.info-section h6 {
  font-size: 0.8rem;
}

.info-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e1e2f7;
  padding-top: 32px;
}

.info-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e1e2f7;
}

.info-container .info-image {
  width: 35%;
}

.info-container .info-image img {
  padding: 16px;
  max-width: 100%;
  max-height: 100%;
}

.info-container .info-text {
  width: 65%;
  align-self:center;
  padding-left: 2rem;
}

.info-container h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.info-container a {
  font-size: 1rem;
  line-height: 3;
  text-decoration: none;
  color: #307af2;
}
.info-container a:hover {
  color: #1f4f9e;
}

.info-bottom {
  background-color: #e1e2f7;
}

.mobile-image {
  display: none;
}


/* Start Learning Section */
.start-container {
  display: flex;
  flex-direction: column;
  background-color: #e1e2f7;
}

.start-title {
    padding-top: 1rem;
    align-self: center;
    color: #307af2;
    font-size: 2.5rem;
}

.start-courses {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-flow:row wrap;
  padding-bottom: 16px;
  margin-left: 72px;
  margin-right: 72px;
}

.start-courses h1 {
  color: #307af2;
  font-size: 2.5rem;
  display: block;
  text-align:center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.start-courses .course {
  background-color: white;
  margin: 1rem;
  width: 500px;
  height: 550px;
  padding-bottom: 1rem;
}

.start-courses .course h4 {
  color: #307af2;
  font-size: 1.75rem;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  line-height: 2;
}

.start-courses .course span {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  line-height: 3;
}

.start-courses .course p {
  font-size: 1.5rem;
  line-height: normal;
  padding-left: 16px;
}

.start-courses .course img {
  width: 100%;
  height: auto;
}

/* Thesis Section */

.thesis-title {
  font-size: 2.5rem;
  text-align: center;
  color:#307af2;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.thesis-section {
  width: 100%;
  display: flex;
  padding-left: 1.5rem;
}

.thesis-section .thesis-left {
    padding: 2rem;
    width:60%;
    height: auto;
  }

.thesis-section .thesis-left video {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.video-info h3 {
  font-size: 1.5rem;
  line-height: 3;
}

.thesis-text h3 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.thesis-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

.thesis-container {
    display: flex;
    flex-direction: row;
}

.thesis-container .thesis-image {
  width: 35%;
}
.thesis-container .thesis-image img {
  padding: 16px;
  max-width: 100%;
  max-height: 100%;
}
.thesis-container .thesis-text {
  width: 65%;
  align-self:center;
  padding-left: 2rem;
}

.thesis-top {
    background-color: #e1e2f7;
}
.social-media {
  font-weight: 700;
  font-size: 1.5rem;
  display: inline-flex;
  color:#307af2;
}
/* Footer */


footer {
  border-top: 2px solid #e1e2f7;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer nav a {
  color: black
}

footer ul li {
  display: inline-block;
  align-items: flex-end;
  padding-right: 24px;
}


/* mobile */

@media only screen and (max-device-width: 1024px) {

  .mobile {
    display: unset;
    flex-grow: 1;
  }

  .mobile-links {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2rem;
  }

  .mobile-links img {
    height: 4rem;
  }

  .desktop {
    display: none;
  }

  .banner {
    flex-direction: column;
  }

  .banner-left {
    width: 100%;
    padding: 0px;
  }

  .banner-right {
    width: 100%;
    padding-bottom: 2rem;
  }

  .right-text {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    align-items: center;
  }

  .right-text h1,h3 {
    text-align: center;
  }

  .right-text h1 {
    font-size: 4rem;
  }

  .right-text h3 {
    font-size: 3rem;
  }

  .right-text .button {
    width: 70%;
    margin-left: 3rem;
    font-size: 2.5rem;
  }

  .info-section .info-left {
    display: none;
  }

  .info-section .info-right {
    width: 100%;
  }

  .mobile-image {
    display: unset;
  }

  .desktop-image {
    display: none;
  }

  .info-container {
    flex-direction: column;
  }

  .info-container .info-image {
    width: 100%;
  }

  .info-container .info-image img {
    width: 98%;
  }

  .info-container .info-text {
    width: 100%;
    text-align: center;
  }

  .info-container h4,h5 {
    font-size: 200%;
  }

  .info-container a {
    font-size: 200%;
  }

  .start-container {
    background-color: unset;
  }

  .start-title {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .start-courses {
    flex-direction: column;
  }

  .mobile-course {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    background-color: #e1e2f7;
  }

  .mobile-course h3,a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #307af2;
  }

  .thesis-section {
    margin-left: unset;
    padding: 0;
  }

  .thesis-section .thesis-left {
    width: 100%;
    padding: 0;
  }
  .thesis-section .thesis-right {
    display: none;
  }

  .video-info {
    display: none;
  }

  .thesis-section video {
    margin-bottom: 2rem;
  }
}
