body {
  font-family: 'Oxygen', sans-serif;
  line-height: 1.2;
  justify-content: center;
}

/* Header */

header {
  padding: 16px 24px 16px 24px;
}
header .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.5rem;
  color: #307af2;
  padding: 32px;
  height: 32px;
  display: inline-flex;
  text-align: left;
}

.logo h1 {
  font-size: 32px;
}

.logo h1 span{
  color: black;
}

.container .learn, .guest, .fisma {
  background-color: #e1e2f7;
}

a {
  color: #307af2;
  text-decoration: none;
  font-size: 1.5rem;
}
.desktop ul li{
  display: inline-block;
  align-items: flex-end;
  padding-right: 16px;
  font-family: 'Oxygen', sans-serif;
}

/* Learn section */

.banner img {
  display: flex;
  width: 60%;
  height: auto;
  padding: 32px 24px 32px 24px;

}

.right-text {
  display: inline-block;

}
.right-text h1 {
  font-family: Oxygen, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #307af2;
}
.right-text h3 {
  font-family: Oxygen, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #307af2;
}

.button {
  background-color:  #307af2;
  text-align: center;
  display: inline-block;
  padding: 20px 60px;
  border-radius: 8px;
  font-size: 20px;
  margin: 4px 12px;
}

.button a {
  color: white;
}
.button a:hover {
  color: #1f4f9e;
}

/* Info Section */

.info img {
  display: flex;
  width: 60%;
  height: auto;
  padding: 32px 24px 32px 24px;
}

.info-right {
  display: inline-block;
  justify-content: flex-end;
  align-content: flex-end;
  width: 40%;
}

.orientation img {
  height: auto;
  width: 35%;
}

.info-campus img {
  height: auto;
  width: 35%;
}

.guest-image img {
  height: auto;
  width: 35%;
}

.info-right h4, h5 {
  width: 65%;
}

.info-right h4 {
  font-size: 1.5rem;
  line-height: 3;
}

.info-right a {
  font-size: 1rem;
  line-height: 3;
}
/* Start Learning Section */
#grid .courses img{
  display: block;
  align-items: center;
  height: auto;
  flex-wrap: wrap;
  padding-bottom: 16px;
}
#grid .courses{
  background-color: #e1e2f7;;
}

#grid h1 {
  background-color: #e1e2f7;;
}

 h1 {
  color: #307af2;
  font-size: 2.5rem;
  display: block;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
/* Thesis Section */



#thesis h1 {
  background-color: white;
}

#thesis h3 {
  font-size: 1.5rem;
  line-height: 3;
}

/* Footer */

footer {
  border-top: 2px solid #e1e2f7;;
  padding-top: 16px;
  padding-left: 24px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer nav a {
  color: black
}
footer ul li {
  display: inline-block;
  align-items: flex-end;
  padding-right: 24px;
  font-family: 'Oxygen', sans-serif;
}
