body {
  font-family: 'Oxygen', sans-serif;
  line-height: 1.2;
  justify-content: center;
}

/* Header */

header {
  padding: 16px 24px 16px 24px;
}
header .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.5rem;
  color: #307af2;
  padding: 32px;
  height: 32px;

}
.container .learn, .guest, .fisma {
  background-color: #edf4ff;
}

a {
  color: #307af2;
}
.desktop ul li{
  display: inline-block;
  align-items: flex-end;
  padding-right: 16px;
  font-family: 'Oxygen', sans-serif;
}

/* Learn section */

.banner img {
  display: flex;
  width: 60%;
  padding: 32px 24px 32px 24px;

}

.right-text {
  display: inline-block;
}
.right-text h1 {
  font-family: Oxygen, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #307af2;
}
.right-text h3 {
  font-family: Oxygen, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #307af2;
}

.button {
  background-color:  #307af2;
  text-align: center;
  display: inline-block;
  padding: 20px 60px;
  border-radius: 8px;
  font-size: 20px;
  margin: 4px 12px;
}

.button a {
  color: white;
}
.button a:hover {
  color: #1f4f9e;
}

/* Start Learning Section */
#grid .courses img{
  display: block;
  align-items: center;
  height: auto;
  flex-wrap: wrap;
  padding-bottom: 16px;
}
#grid .courses{
  background-color: #edf4ff;
}

.grid-container {
  display:inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #edf4ff;
  grid-gap: 32px;
}

.grid-item {
  background-color: white;
  display: grid;

}

/* Footer */

footer {
  border-top: 2px solid #edf4ff;
  padding-top: 16px;
  padding-left: 24px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer nav a {
  color: black
}
footer ul li {
  display: inline-block;
  align-items: flex-end;
  padding-right: 24px;
  font-family: 'Oxygen', sans-serif;
}
